header {
  div {
    color: var(--gold); /* 文字顏色設為金色 */
    text-align: center; /* 文字置中 */
    font-size: 2.5rem; /* 調整字體大小 */
    font-family: "Courier Prime", monospace; /* 使用 Courier Prime 字體 */
    padding: 0; /* 內距設為0 */
    margin: 1rem; /* 外距設為1 */
    border: 2px solid var(--border-color); /* 邊框 */
    border-radius: 10px; /* 圓角邊框 */
  }
}
